<!-- Preconnect to third-party origins -->
<link rel="preconnect" href="https://changenow.io" crossorigin>
<link rel="preconnect" href="https://widget-api.changenow.io" crossorigin>
<link rel="preconnect" href="https://tganalytics.xyz" crossorigin>
<link rel="preconnect" href="https://mc.yandex.ru" crossorigin>
<link rel="preconnect" href="https://telegram.org" crossorigin>
<!-- Critical above-the-fold CSS inlined -->
{% if criticalCss %}<style>{{ criticalCss | safe }}</style>{% endif %}
<!-- Full stylesheets loaded asynchronously -->
<link rel="preload" href="assets/css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
{% if includeTgThemeCss %}<link rel="preload" href="assets/css/tg-theme.css" as="style" onload="this.onload=null;this.rel='stylesheet'">{% endif %}
<noscript>
    <link rel="stylesheet" href="assets/css/style.css">
    {% if includeTgThemeCss %}<link rel="stylesheet" href="assets/css/tg-theme.css">{% endif %}
</noscript>
