<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>{% if stepsType == 'bridge' %}{{ t.title_intro_bridge_steps }}{% else %}{{ t.title_intro_exchange_steps }}{% endif %}</title>
    <meta name="description" content="TON Bridge HTML Mobile Template">
    <meta name="keywords" content="bootstrap, wallet, banking, fintech mobile template, cordova, phonegap, mobile, html, responsive" />
    <link rel="icon" type="image/png" href="assets/img/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/icon/192x192.png">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="manifest" href="__manifest.json">
</head>

<body>
    <div id="viewport"></div>
<script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script>
        Telegram.WebApp.ready();
        Telegram.WebApp.expand();

        Telegram.WebApp.onEvent('themeChanged', function() {
            document.documentElement.className = Telegram.WebApp.colorScheme;
        });

        Telegram.WebApp.setHeaderColor('secondary_bg_color');
    </script>
	<script
    async
    src="https://tganalytics.xyz/index.js"
    onload="initAnalytics()"
    type="text/javascript"
></script>
<script>
    function initAnalytics() {
      window.telegramAnalytics.init({
        token: 'eyJhcHBfbmFtZSI6IlRPTkJyaWRnZV9yb2JvdCIsImFwcF91cmwiOiJodHRwczovL3QubWUvVE9OQnJpZGdlX3JvYm90IiwiYXBwX2RvbWFpbiI6Imh0dHBzOi8vdG9uYmFua2NhcmQuY29tL2JyaWRnZS9UTUEvMDAuaHRtbCJ9!PQ40y7Tz3lZti6uDVlApq+BcGxi8tR9WEsH6Hyu+mD0=', // SDK Auth token received via @DataChief_bot
        appName: 'TONBridge_robot', // The analytics identifier you entered in @DataChief_bot
      });
    }
</script>
    <!-- loader -->
    <div id="loader">
        <img src="assets/img/loading-icon.png" alt="icon" class="loading-icon">
    </div>
    <!-- * loader -->

    <!-- App Header -->
    <div class="appHeader bg-primary text-light">
        <div class="left">
        </div>
        <div class="pageTitle">
            <img src="https://tonbankcard.com/images/logo-full-white.png" alt="logo" class="logo">
        </div>
    </div>
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">
        <!-- Welcome message and steps -->
        <section id="welcomeSection" class="section mt-5">
            <div class="container">
                <!-- Welcome message -->
                <div class="section-head text-center">
                    <h2 class="title title-lg">{% if stepsType == 'bridge' %}{{ t.intro_bridge_steps_title }}{% else %}{{ t.intro_exchange_steps_title }}{% endif %}</h2>
                    <p>{% if stepsType == 'bridge' %}{{ t.intro_bridge_steps_subtitle }}{% else %}{{ t.intro_exchange_steps_subtitle }}{% endif %}</p>
                </div>

                <!-- 3 steps -->
                <div id="how_it_works" class="section-head">
                    <h2 class="title title-lg animated" data-animate="fadeInUp" data-delay=".6">{% if stepsType == 'bridge' %}{{ t.intro_bridge_steps_heading }}{% else %}{{ t.intro_exchange_steps_heading }}{% endif %}</h2>
                </div>
                <div class="nk-block nk-block-features mgb-m30">
                    <p>{% if stepsType == 'bridge' %}{{ t.intro_bridge_steps_lead | safe }}{% else %}{{ t.intro_exchange_steps_lead | safe }}{% endif %}</p>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="feature animated" data-animate="fadeInUp" data-delay=".7">
                                <div class="feature-icon dot text-center">
                                    <ion-icon name="wallet-outline" class="feature-icon-lg"></ion-icon>
                                </div>
                                <div class="feature-text">
                                    <h3 class="title title-lg">{% if stepsType == 'bridge' %}{{ t.intro_bridge_steps_s1_title }}{% else %}{{ t.intro_exchange_steps_s1_title }}{% endif %}</h3>
                                    <p>{% if stepsType == 'bridge' %}{{ t.intro_bridge_steps_s1_desc | safe }}{% else %}{{ t.intro_exchange_steps_s1_desc | safe }}{% endif %}</p>
                                </div>
                            </div>
                        </div>
                       <div class="col-lg-4">
    <div class="feature animated" data-animate="fadeInUp" data-delay=".8">
        <div class="feature-icon dot text-center">
            {% if stepsType == 'bridge' %}<img src="https://tonbankcard.com/bridge/TMA2/assets/img/ton-logo.png" alt="TON Logo" class="feature-img-lg mx-auto">{% else %}<ion-icon name="code-download" class="feature-icon-lg"></ion-icon>{% endif %}
        </div>
        <div class="feature-text">
            <h3 class="title title-lg">{% if stepsType == 'bridge' %}{{ t.intro_bridge_steps_s2_title }}{% else %}{{ t.intro_exchange_steps_s2_title }}{% endif %}</h3>
            <p>{% if stepsType == 'bridge' %}{{ t.intro_bridge_steps_s2_desc }}{% else %}{{ t.intro_exchange_steps_s2_desc }}{% endif %}</p>
        </div>
    </div>
</div>
                        <div class="col-lg-4">
                            <div class="feature animated" data-animate="fadeInUp" data-delay=".9">
                                <div class="feature-icon dot text-center">
                                    <ion-icon name="checkmark-done-outline" class="feature-icon-lg"></ion-icon>
                                </div>
                                <div class="feature-text">
                                    <h3 class="title title-lg">{% if stepsType == 'bridge' %}{{ t.intro_bridge_steps_s3_title }}{% else %}{{ t.intro_exchange_steps_s3_title }}{% endif %}</h3>
                                    <p>{% if stepsType == 'bridge' %}{{ t.intro_bridge_steps_s3_desc }}{% else %}{{ t.intro_exchange_steps_s3_desc | safe }}{% endif %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- "START" button -->
                <div class="text-center mt-4">
                    <a href="{% if stepsType == 'bridge' %}{{ t.intro_bridge_steps_target }}{% else %}{{ t.intro_exchange_steps_target }}{% endif %}" class="btn btn-primary btn-lg">{% if stepsType == 'bridge' %}{{ t.intro_bridge_steps_btn }}{% else %}{{ t.intro_exchange_steps_btn }}{% endif %}</a>
                </div>
            </div>
        </section>
    </div>

    <!-- Bootstrap -->
    <script src="assets/js/lib/bootstrap.bundle.min.js"></script>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Base Js File -->
    <script src="assets/js/base.js"></script>
    <!-- Telegram BackButton -->
    <script src="assets/js/back-button.js"></script>
    <script>wireBackButton();</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(98019798, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/98019798" class="ym-noscript" alt=""></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>

</html>
