:root {
    --tg-theme-bg-color: #fff;
    --tg-theme-text-color: #000;
    --tg-theme-hint-color: #999;
    --tg-theme-link-color: #6236ff;
    --tg-theme-button-color: #1bb2da;
    --tg-theme-button-text-color: #fff;
    --tg-theme-secondary-bg-color: #ededf5;
    --tg-theme-header-bg-color: #fff;
    --tg-theme-accent-text-color: #6236ff;
    --tg-theme-section-bg-color: #fff;
    --tg-theme-section-header-text-color: #999;
    --tg-theme-subtitle-text-color: #999;
    --tg-theme-destructive-text-color: #ff396f;
}
