---
permalink: app-settings-ru.html
locale: ru
---
{% set t = locales.ru %}
{% set altUrl = baseUrl + "/app-settings.html" %}
{% set defaultUrl = baseUrl + "/app-settings.html" %}
{% include "settings-page.njk" %}
