---
permalink: index2.html
activePage: exchange
iframeFrom: btc
iframeTo: ton
iframeAmount: "0.1"
imgSrc: https://exchange.tonbankcard.com/images/header/gfx-a-1.png
imgW: 300px
imgH: 300px
sectionLabel: Bridge
---
{% include "widget-page.njk" %}
