---
permalink: index.html
activePage: bridge
iframeFrom: ton
iframeTo: tonbsc
iframeAmount: "10"
imgSrc: assets/img/gfx-a-1.png
imgW: 300px
imgH: 200px
sectionLabel: Bridge
---
{% include "widget-page.njk" %}
