---
permalink: index2.html
locale: en
activePage: exchange
iframeFrom: btc
iframeTo: ton
iframeAmount: "0.1"
imgSrc: https://exchange.tonbankcard.com/images/header/gfx-a-1.png
imgW: 300
imgH: 300
sectionLabel: Bridge
---
{% set t = locales.en %}
{% include "widget-page.njk" %}
