---
permalink: index2-ru.html
locale: ru
activePage: exchange
iframeFrom: btc
iframeTo: ton
iframeAmount: "0.1"
imgSrc: https://exchange.tonbankcard.com/images/header/gfx-a-1.png
imgW: 300
imgH: 300
sectionLabel: Swap
---
{% set t = locales.ru %}
{% include "widget-page.njk" %}
