---
permalink: index2-ru.html
locale: ru
activePage: exchange
iframeFrom: btc
iframeTo: ton
iframeAmount: "0.1"
imgSrc: assets/img/gfx-a-1.webp
imgAlt: Exchange illustration
imgW: 300px
imgH: 258px
sectionLabel: Bridge
---
{% set t = locales.ru %}
{% include "widget-page.njk" %}
