---
permalink: index-ru.html
locale: ru
activePage: bridge
iframeFrom: ton
iframeTo: tonbsc
iframeAmount: "10"
imgSrc: assets/img/gfx-a-1.png
imgW: 300
imgH: 200
sectionLabel: Bridge
---
{% set t = locales.ru %}
{% include "widget-page.njk" %}
