---
permalink: index-ru.html
locale: ru
activePage: bridge
iframeFrom: ton
iframeTo: tonbsc
iframeAmount: "10"
imgSrc: assets/img/gfx-a-1.png
imgW: 300px
imgH: 200px
sectionLabel: Bridge
---
{% set t = locales.ru %}
{% set altUrl = baseUrl + "/index.html" %}
{% set defaultUrl = baseUrl + "/index.html" %}
{% include "widget-page.njk" %}
